@media (max-width:1200px)
    .menu_list
        padding-right: 13px
        padding-left: 5px
        a
            font-size: 14px
            
    .subhead_block
        .subhead_logo
            padding-left: 15px
            margin-right: 165px
            margin-left: 54px
    .promo
        .promo_zag
            h1
                font-size: 50px
            h2
                font-size: 33px
        .promo_descr
            p
                font-size: 17px
    .reason
        .reason_flex
            .reason_descr
                p
                    font-size: 13px
                h2
                    font-size: 16px    
    .mobile
        .flex_box
            width: 280px
            height: 265px
            margin-right: 23px
            margin-bottom: 3px
            .plus
                left: 127px
        .h2_repit
            font-size: 35px                 
    .require
        .require_flex
            .flex_box
                width: 467px 
    .footer
        .flex_wrapper
            .flex_descr
                width: 330px           

@media (max-width: 991px)
    .menu_list
        padding-right: 6px
        padding-left: 0
        a
            font-size: 11px
    .subhead_block
        .subhead_logo
            width: 250px
            margin-right: 40px
            img
                width: 100%
        .subhead_call
            a
                font-size: 17px
            h2
                font-size: 11px    
        .subhead_buttom
            width: 130px
            height: 35px
            font-size: 12px
    .promo
        .promo_zag
            h1
                font-size: 40px
            h2
                font-size: 28px
        .promo_descr
            p
                font-size: 16px        
    .reason
        .h2_repit
            font-size: 30px
        .reason_flex
            flex-direction: column
            align-items: center
            .reason_img
                margin-bottom: 20px
            .reason_descr
                p
                    font-size: 14px
                h2
                    font-size: 16px             
    .car_blue
        img
                width: 100%  
    .require        
        .require_flex
            .flex_box
                .box_blue
                    li
                        font-size: 15px
    .footer
        .footer_line
            width: 280px
        .flex_wrapper
            .flex_apple
                padding-right: 10px
                .apple_1
                    width: 70px

            .flex_descr
                width: 260px
                p
                    font-size: 13px                    
                .descr_mini
                    font-size: 8px        

@media (max-width: 767px)
    .black_btn 
        margin-bottom: 10px
    .menu
        position: relative
    .hamburger
        display: block
        position: fixed
        right: 20px
        top: 2%
        transform: translateY(-50%)
        width: 30px
        z-index: 2
        span
            display: block
            height: 2px
            width: 100%
            background-color: #ffffff
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: rotate(-45deg)
                &:nth-child(2)
                    display: none    
                &:nth-child(3)
                    transform: rotate(45deg)    
                        
    .menu
        position: fixed
        top: 0
        right: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: #000000c5
        z-index: 1
        transition: 0.6s all
        &_active
            right: 0
        .menu_list
            padding-right: 0
            border: none
            margin-top: 15px
            width: 100%
            a
                font-size: 20px
    .subhead
       height: 68px
       padding-top: 3px 
    .subhead_block
        justify-content: flex-start
        .subhead_logo
            width: 250px
            margin-right: 40px
            margin-left: 0
            img
                width: 100%
        .subhead_call
            a
                font-size: 17px
            h2
                font-size: 11px    
        .subhead_buttom
            width: 150px
            height: 35px
            font-size: 12px
        .xs-hidden
            display: none
        .xs_visible
            display: block
            text-decoration: none
            font-size: 14px
            font-weight: 400
            text-align: end
            color: #fff
    .promo
        .promo_zag
            h1
                font-size: 30px
            h2
                font-size: 22px
        .promo_descr
            p
                font-size: 14px
        .promo_btn
            height: 50px
            width: 200px
            font-size: 15px
    .reason
        .h2_repit
            font-size: 24px
    .car_blue
        .h2_repit
            font-size: 32px            
    .require 
        .h2_repit  
            font-size: 32px     
        .require_flex
            .flex_box
                .box_descr
                    font-size: 20px
                .box_blue

                    li
                        font-size: 13px     
    .footer
        .flex_wrapper
            flex-direction: column
            align-items: center
        .flex_wrapper>div
            width: 100%
        .flex_text
            order: -1
            padding-bottom: 20px
        .flex_icon
            justify-content: center
            margin-bottom: 7px  
            .circle
                &:nth-child(1)
                    margin-left: 0
                      
        .flex_apple
            justify-content: center  

@media  (max-width: 575px)
    .subhead
       height: 68px
       padding-top: 3px 
    .subhead_block
        justify-content: flex-start
        .subhead_logo
            width: 250px
            margin-right: 0
            margin-left: 0
            padding-left: 0
            img
                width: 100%
        .subhead_call
            a
                font-size: 17px
            h2
                font-size: 11px    
        .subhead_buttom
            width: 120px
            height: 35px
            font-size: 11px
    .footer
        .flex_wrapper
            flex-direction: column
            align-items: center
        .flex_wrapper>div
            width: 100%
        .flex_text
            order: -1
            padding-bottom: 20px
        .flex_icon
            justify-content: center
            margin-bottom: 7px  
            .circle
                &:nth-child(1)
                    margin-left: 0
                      
        .flex_apple
            justify-content: center   
    .promo
        padding-top: 90px
        height: 600px
        .promo_zag
            h1
                font-size: 21px
            h2
                font-size: 20px
        .promo_descr
            p
                font-size: 13px
        .promo_btn
            height: 45px
            width: 170px
            font-size: 14px  
            margin-top: 65px      
    .reason
        padding-top: 25px
        .h2_repit
            font-size: 19px
        .reason_flex
            .reason_descr
                width: 300px
    .mobile
        .flex_box
            width: 260px
            height: 265px
            margin-right: 0
            margin-bottom: 3px
            .plus
                left: 127px
        .h2_repit
            font-size: 18px 
        .h2_lowrep
            font-size: 14px  
    .car
        min-height: 600px
        .car_descr
            padding-top: 110px
            font-size: 15px
    .car_blue
        height: 330px
        .h2_repit
            font-size: 20px         
        p
            font-size: 14px   
    .require 
        padding-top: 30px
        .h2_repit  
            font-size: 22px     
        .require_flex
            .flex_box
                p
                    font-size: 16px
                    margin-bottom: 29px
                .box_descr
                    font-size: 16px
                .box_blue

                    li
                        font-size: 13px        
    .world
        padding-top: 20px
        height: 630px
        .h2_repit
            font-size: 23px
        .world_p2
            font-size: 15px
        .world_p3
            padding-top: 400px
    .menu
        position: fixed
        top: 0
        right: -100%
        width: 100%
        height: 100vh
        padding: 20px 15px
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: #000000c5
        z-index: 1
        transition: 0.6s all
        &_active
            right: 0
        .menu_list
            padding-right: 0
            border: none
            margin-top: 15px
            width: 100%
            padding: 5px 0
            a
                font-size: 20px
                display: block